{% extends 'registration/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="login-block">
            <h3 class="font-weight-bold">Log in</h3>
            <div class="row justify-content-center">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group-login">
                            <input type="text" class="form-control" name="username" placeholder="Login or email" required>
                        </div>
                    </div>
                    <hr class="hr-xs">
                    <div class="form-group">
                        <div class="input-group-login">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="input-group-login">
                        <input class="btn btn-primary btn-block" type="submit" value="Login"></div>
                    <div class="login-footer">
                        <span class="bg-light">OR</span>
                        <div class="social-button">
                            <a class="button-vk" href="{% url "social:begin" "vk-oauth2" %}">Login with Vk</a>
                            <a class="button-google" href="{% url "social:begin" "google-oauth2" %}">Login with Google</a>
                            <a class="button-linkedin" href="{% url 'social:begin' 'linkedin-oauth2' %}">Login with Linkedin</a>
                        </div>
                    </div>
                    <div class="login-links">
                        <p class="divider-text">
                            <span class="bg-light">OR</span>
                        </p>
                        <a href="{% url 'signup' %}">Create your account</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

