{% extends 'registration/base.html' %}
{% block title %}Registration{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="registration-block"><h3 class="font-weight-bold">Create Account</h3>
            <div class="row justify-content-center">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                        <div class="row align-items-center" >
                            {{ field.label_tag }}  {{ field }}</div>
                    {% endfor %}
                    <div class="row align-items-center" >
                        <input class="text-white text-weight-bold bt" type="submit" value="Sign up"></div>
                </form>
            </div>
        </div>
        </form>
    </div>
{% endblock %}